ETHERSCAN_API_KEY=U6YFCBUIYUA244Z9SIN8K92WKUXQ7UCE65
SOLANA_RPC_HTTP=https://api.mainnet-beta.solana.com
SOLANA_RPC_WS=wss://api.mainnet-beta.solana.com
MIN_LIQUIDITY_SOL=1.0
NEW_POOLS_LOOKBACK_HOURS=24
